.Shorty-Text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.Shorty-Text.Shorty-Text--primary {
  color: #555;
}

.Shorty-Text.Shorty-Text--secondary {
  color: #aaa;
}

.Shorty-Text.Shorty-Text--unimportant {
  color: #ccc;
}
