.Shorty-ShortcodesHeader {
  display: flex;
  margin: 0 -.5rem;
  padding: 1.6875rem 0;
  align-items: flex-end;

  > * {
    margin: 0 .5rem;
  }
}

.Shorty-ShortcodesHeader__link {
  padding-bottom: .0625rem;
}
